/.git
/.github
**/node_modules

/docs
/migrations
/.next
/.vscode
/yarn-error.log

# PlantUML output folder
/out

# Note: the .env file is created in docker-entrypoint.py
.env
**/*.env

Dockerfile
README.md
