/out
/node_modules
/.next
/.vscode
/yarn-error.log
/.env
/.env.docker
/.dmypy.json
/.mypy_cache
/fly.toml

# ignore pem files, to avoid accidentally commit a private RSA key to the repo:
# private RSA keys are handled to create JWTs to interact with GitHub api
/**/*.pem
