button a {
  color: white;
  text-decoration: none;
}

button {
  .fab {
    margin-right: 10px;
  }
}

.buttons-area {
  padding: 20px 0;

  button {
    margin-left: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0px;
    }
  }
}
