@import "settings.vars.scss";
@import "mixins.scss";
@import "prism.scss";
@import "./preloaders.scss";
@import "./tables.scss";
@import "./buttons.scss";
@import "./admin//layout.scss";
@import "./lists.scss";


body {
  @include mainfont;
  color: $main_black;
  background: white;
}

// TODO: move to dedicated file
.contributor-agreement-area {
  margin: 40px auto;
  font-size: 1.1rem;

  button {
    margin-top: 10px;
  }
}

.MuiListItemIcon-root {
  min-width: 46px !important;
}
