
dl {
  font-size: 1.2em;

  &.inline {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;

    dt {
      flex: 0 0 20%;
      text-overflow: ellipsis;
      overflow: hidden;
      border-bottom: 1px dotted #eee;
    }

    dd {
      flex:0 0 80%;
      margin-left: auto;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
